body{ 
margin: 0; 

}
nav {
    background-color: #df2e2e;
    padding: 20px;
}

#logo {
    height: 50px;
}

.link {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin-left: auto;
}

.link a {
    text-decoration: none;
    color: #202020;
}

.nav2 {
    background-color: #181818;
    color: #fff;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.nav2 a {
    color: #fff;
    text-decoration: none;
}
