body {
    font-family: Arial, sans-serif;
    margin: 0;


}


.row2 {   
    position: relative;
    left: 10vh;


}

.card {
margin-top: 30px;
    width: 350px;
}

.nav2 {
    background-color: #181818;
    display: flex;
    justify-content: space-around;
    height: 7px;
}



#logo {
    height: 50px;
}

.nav-item {
    margin-left: 80px;
}

.carousel  {   

    border-radius: 20px;
    margin-top: 20px;
    height: 600px;
} 

.carousel img{
    height: 600px;
    border-radius: 20px;

}

.card-img-top {
    margin-bottom: 5px; 
    height: 100px; 
    width: 100px;
}

.navbar .nav-link {
    color: #ffffff !important;
    /* Cor do texto branca */
}

.navbar .nav-link:hover {
    color: #ffcccc !important;
    /* Cor do texto ao passar o mouse */
} 

